.leftAside{
    position: relative;
    background-color: #242145;
    padding: 20px;
    height: 100vh;
}
.contentArea{
    background-color: #fff;
    padding: 40px 40px;
    height: 100vh;
}
.tabLinks{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    font-family: cursive;
    letter-spacing: 1px;
    background-color: transparent!important;
    padding: 0!important;
    margin-bottom: 15px;
}
.tabLinks.active{
    text-decoration: underline!important;
}

@media (max-width:844px){
    .leftAside{
        height: auto!important;
        padding: 10px 10px;
    }
    .contentArea{
        padding: 20px 20px;
    }
    .tabLinks{
        margin-bottom: 0px!important;
        margin:0px 10px!important;
    }
}
