*{
    margin: 0;
    padding: 0;
}
.userSection{
    padding: 50px 0px;
}
/* .customAlert button{
    padding: 12px !important;
} */
.message{
    text-align: center;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    font-family: cursive;
    letter-spacing: 1px;
}
.userList{
    padding: 10px;
    list-style: none;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 5px;
}
.customCard{
    border-radius: 3px!important;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0px 0px 0px #80808069;
    -webkit-transition:  box-shadow .6s ease-out;
       box-shadow: .2px .2px 0.5px #80808069;
}
.customCard:hover{
    box-shadow: .5px 4px 10px #80808069;
    -webkit-transition:  box-shadow .6s ease-in;
}